<div class="bg-image">
  <div>

    <nav>
      <div class="nav-wrapper blue-grey darken-2">
        <a class="margin-LR">POS.Manager</a>
        <a data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><i class="material-icons prefix">account_circle</i></li>
          <li><label class="margin-setUser" for="prod_name">Maratree Supasing</label></li>
          <li><a (click)="changLang();"><i class="material-icons left">language</i>{{currentLang}}</a></li>
          <!-- <li><a (click)="changLangEN();"><img src="assets/images/flag-icons/usa.png"></a></li>
          <li><a (click)="changLangTH();"><img src="assets/images/flag-icons/th.png"></a></li> -->
          <li><a (click)="toLogin();"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <!--Master  -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">computer</i>Master</a>
                <div class="collapsible-body">
                  <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                      <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">tablet_mac</i>Master Data</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a routerLink="/Pmain/company-list"> - Company</a></li>
                            <li><a routerLink="/Pmain/workstation-list"> - Workstation</a></li>
                            <li><a routerLink="/Pmain/outlet-list"> - Outlet</a></li>
                            <li><a> - Zone</a></li>
                            <li><a routerLink="/Pmain/shift-group"> - Shift Group</a></li>
                            <li><a routerLink="/Pmain/shift-list"> - Shift</a></li>
                            <li class="no-padding">
                              <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">event_seat</i>Decor</a>
                                  <div class="collapsible-body">
                                    <ul>
                                      <li><a> - Decor Type</a></li>
                                      <li><a> - Decor Status Type</a></li>
                                      <li><a> - Decor</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                          </ul>
                        </div>
                        </li>
                    </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">note_add</i>Condiment</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a> - Condiment Group</a></li>
                              <li><a> - Condiment</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">attach_money</i>NonItem</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a routerLink="/Pmain/discount-list"> - Discount</a></li>
                              <li><a> - Service</a></li>
                              <li><a> - Vat</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">restaurant</i>Product</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a routerLink="/Pmain/product-list"> - Product</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">restaurant_menu</i>Menu</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a> - Menu</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">payment</i>Payment</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a> - Payment</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">print</i>Printer</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a> - Printer</a></li>
                              <li><a> - Print Format</a></li>
                              <li><a> - Print Config</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">person</i>Employee</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a> - officer</a></li>
                              <li><a> - Entertain</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">stars</i>Promotion</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a> - Happy Hour</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--  -->
                </div>
                </li>
            </ul>
            </li>
            <!--Setup  -->
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">settings</i>Setup</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a>- Product</a></li>
                      <li><a>- Sale Type</a></li>
                      <li><a>- Policy</a></li>
                      <li><a>- Message Templete</a></li>
                      <li><a>- Set Control</a></li>
                      <li><a>- Personal</a></li>
                      <li><a>- Report Config</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <!--TEST MENU  -->
            <!-- <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">security</i>TEST MENU</a>
                  <div class="collapsible-body">
                    <ul>
                      <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                          <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">supervisor_account</i>MENU</a>
                            <div class="collapsible-body">
                              <ul>
                                <li><a *ngFor="let a of menuListData;">{{a.menuname}}</a></li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li> -->
            <!--Security  -->
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">security</i>Security</a>
                  <div class="collapsible-body">
                    <ul>
                      <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                          <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">supervisor_account</i>User</a>
                            <div class="collapsible-body">
                              <ul>
                                <li><a (click)="to_userList();">  - User List</a></li>
                                <li><a (click)="to_usergroupList()">  - User Group</a></li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <!--Interface F&B Costing  -->
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">transfer_within_a_station</i>Interface FB Costing</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a>- Include Item</a></li>
                      <li><a>- Generate Textfile</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <!--Report  -->
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">content_paste</i>Report</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a>- Report</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons left">cast_connected</i>Database Tool</a></li>
                    <li><a class="waves-effect waves-light modal-trigger" href="#modal2"><i class="material-icons left">settings_input_hdmi</i>Interface Tool</a></li>
                    <li class="divider"></li>
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">lock</i>Change Password</a>
              <!-- <li><a (click)="changLangEN();"><img src="assets/images/flag-icons/usa.png"></a></li>
            <li><a (click)="changLangTH();"><img src="assets/images/flag-icons/th.png"></a></li> -->
              <li class="bold"><a (click)="toLogin();" class="collapsible-header waves-effect waves-cyan"><i class="material-icons">exit_to_app</i>Sign out</a>

        </ul>
      </div>
    </nav>
   
    <!-- Modal Structure Database Tool-->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Database Tool</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">

                <input id="server_name" type="text" class="validate">
                <label for="server_name">Sever Name</label>
              </div>
              <div class="input-field col s12">
                <input id="database_name" type="text" class="validate">
                <label for="database_name">Database Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="user_name" type="text" class="validate">
                <label for="user_name">User Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input id="password_name" type="password" class="validate">
                <label for="password_name">Password</label>
              </div>
            </div>
            <div class="pull-right"><a>Status</a></div>
            <div Class="divider"></div>
            <div class="input-field col s6">
              <a class="waves-effect waves-light btn  green darken-4"><i class="material-icons left">save</i>Save</a>
            </div>
            <div class="input-field col s6">
              <a class="waves-effect waves-light btn yellow accent-4">Check Database</a>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <a class="waves-effect waves-light btn grey lighten-1">Backup Database</a>
              </div>
              <div class="input-field col s6">
                <a class="waves-effect waves-light btn grey lighten-1">Restore Database</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Interface Tool</h4>
        <div class="file-field input-field">
          <div class="btn">
            <span>Path</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <a class="waves-effect waves-light btn green darken-4">Save</a>
            <a class="waves-effect waves-light btn grey lighten-1">Clear</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn">Close</a>
            </div> -->
    </div>
    <router-outlet></router-outlet>
    <!--*****************                    START TEST TREE MUEN                   **********************  -->
    <!-- <div class="container"> -->
    <!-- <div class="row">
      <div class="well" style="width:25%; padding: 8px 0;">
        <div style="overflow-y: scroll; overflow-x: hidden; height: 700px;">
          <ul class="nav nav-list">
            <li><label class="tree-toggler nav-header">Master</label>
              <ul class="nav nav-list tree">
                <li><label class="tree-toggler nav-header">Master Data</label>
                  <ul class="nav nav-list tree">
                    <li><a routerLink="/Pmain/company-list">Company</a></li>
                    <li><a>Workstation</a></li>
                    <li><a>Outlet</a></li>
                    <li><a>Zone</a></li>
                    <li><a>Shift Group</a></li>
                    <li><a>Shift</a></li>
                    <li><label class="tree-toggler nav-header">Decor</label>
                      <ul class="nav nav-list tree">
                        <li><a>Decor Type</a></li>
                        <li><a>Decor Type Status</a></li>
                        <li><a>Decor</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><label class="tree-toggler nav-header">Condiment</label>
                  <ul class="nav nav-list tree">
                    <li><a>Condiment Group</a></li>
                    <li><a>Condiment</a></li>
                  </ul>
              </ul>
              </li>
              <li class="divider"></li>
              <li><label class="tree-toggler nav-header">Header 2</label>
                <ul class="nav nav-list tree">
                  <li><a>Link</a></li>
                  <li><a>Link</a></li>
                  <li><label class="tree-toggler nav-header">Header 2.1</label>
                    <ul class="nav nav-list tree">
                      <li><a>Link</a></li>
                      <li><a>Link</a></li>
                      <li><label class="tree-toggler nav-header">Header 2.1.1</label>
                        <ul class="nav nav-list tree">
                          <li><a>Link</a></li>
                          <li><a>Link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><label class="tree-toggler nav-header">Header 2.2</label>
                    <ul class="nav nav-list tree">
                      <li><a>Link</a></li>
                      <li><a>Link</a></li>
                      <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                        <ul class="nav nav-list tree">
                          <li><a>Link</a></li>
                          <li><a>Link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- </div> -->
    <!--*****************                      END TEST TREE MUEN                   **********************  -->