.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.marTop{
    margin-top: 14%;
}
.centered-form {
    margin-top: 140px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-default {
     border-color: #ddd; 
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent; 
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
     border-radius: 0 !important;  
}
.head-register {
    background-color:#039be5   !important;
    color: white !important;
    text-align: center;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: 2%; 
    height: 10%;
    font-size: 16px;
    color: inherit;
}
.panel-body {
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}
.row {
    margin-right: 25%;
    margin-left: 25%;
}
.centered-form {
    margin-top: 140px;
}
.btn-default {
    width: 100% !important;  
    height: 45px;
    background-color: #039be5;
    color: white;
}
.btn {
    border-radius: 0 !important;
}
.pull-right {
    float: right !important;
}
.input-lg {
    font-size: 15px !important;
    border-radius: 5px !important;
}
.form-control {
    border-radius: 0;
    line-height: 30px;
    width: 100%;
    line-height: 40px;
    height: 40px;
    padding: 0 12px;
    vertical-align: middle;
}

