<div class="">
  <form class="col s12 l9 xl10 offset-l3 offset-xl2">
    <p>User / Search</p>
    <div class="row">
      <a class="waves-effect waves-light btn green darken-4" (click)="onAddbtnClick()"><i class="material-icons center">add</i></a>
      <a class="waves-effect waves-light btn yellow accent-4"><i class="material-icons center">edit</i></a>
      <a class="waves-effect waves-light btn deep-orange darken-4"><i class="material-icons center">delete</i></a>
    </div>
    <div class="row">
      <div class="input-field col s7 m9 l10 xl10">
        <label for="user_search">Search</label>
        <input id="user_search" type="text" class="validate">
      </div>
      <div class="input-field col s2 m2 l2 xl2">
        <a class="waves-effect waves-light btn" align="center">search</a>
      </div>
    </div>

    <div class="row">
      <table class="highlight">
        <thead>
          <tr>
            <th>Login Name</th>
            <th>Activated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>his</td>
            <td><i class="material-icons">check_box</i></td>
          </tr>
          <tr>
            <td>admin</td>
            <td><i class="material-icons">check_box</i></td>
          </tr>
          <tr>
            <td>nsjoy</td>
            <td><i class="material-icons">check_box_outline_blank</i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <ul class="pagination tcenter">
      <li class="waves-effect" *ngFor="let p of paging;let i = index;" [ngClass]="{'active':i==numPage}" (click)="gotoPage(i);"><a>{{p}}</a></li>
    </ul>

    <!-- <div class="fixed-action-btn">
      <a class="btn-floating btn right green darken-4" (click)="onAddbtnClick()"><i class="material-icons">add</i></a>
    </div> -->
  </form>
</div>