<div class="">
  <form class="col s12 l9 xl10 offset-l3 offset-xl2">
    <p>User / Add</p>
    <div class="row">
      <a class="btn  light-blue darken-4"><i class="material-icons">save</i></a>
      <a class="btn red darken-4"><i class="material-icons">delete</i></a>
      <a class="btn grey darken-1"><i (click)="onCancelbtnClick();" class="material-icons">cancel</i></a>
    </div>

    <div class="row">
      <div class="input-field col s12 l12 xl12">
        <img class="materialboxed" width="140" src="./assets/images/people.png">
      </div>
    </div>
    <!-- <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Upload</span>
          <input type="file" name="avatar" multiple><i class="material-icons">file_upload</i>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload File Pictuer">
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <label for="username">Username</label>
        <input id="username" type="text" class="validate">
      </div>
      <div class="input-field col s6 l6 xl6">
        <a class="btn">Check username</a>
      </div>
    </div>
    <div class="row">
      <div class="col s6 l6 xl6">
        <input type="checkbox" class="filled-in" id="chkeditpass" />
        <label for="chkeditpass">Edit password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <label for="password">Password</label>
        <input id="password" type="password" class="validate">
      </div>
      <div class="input-field col s6 l6 xl6">
        <label for="conf_password">Confirm Password</label>
        <input id="conf_password" type="password" class="validate">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <label for="fname">First Name</label>
        <input id="fname" type="text" class="validate">
      </div>
      <div class="input-field col s6 l6 xl6">
        <label for="lname">Last Name</label>
        <input id="lname" type="text" class="validate">
      </div>
    </div>

    <div class="row">
      <form class="col s6 l6 xl6">
        <div class="row">
          <div class="input-field col s12 l12 xl12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Address 1</label>
          </div>
        </div>
      </form>
      <form class="col s6 l6 xl6">
        <div class="row">
          <div class="input-field col s12 l12 xl12">
            <textarea id="textarea2" class="materialize-textarea"></textarea>
            <label for="textarea2">Address 2</label>
          </div>
        </div>
      </form>

      <!-- <div class="input-field col s6 l6 xl6">
        <label for="address1">Address 1</label>
        <input id="address1" type="text" class="validate">
      </div> -->
      <!-- <div class="input-field col s6 l6 xl6">
        <label for="address2">Address 2</label>
        <input id="address2" type="text" class="validate">
      </div> -->
    </div>
    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <label for="tel">Telephone</label>
        <input id="tel" type="text" class="validate">
      </div>
      <div class="input-field col s6 l6 xl6">
        <label for="mobile">Mobile</label>
        <input id="mobile" type="text" class="validate">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 l6 xl6">
        <select materialize="material_select"> 
          <option value="" disabled selected>Choose User group</option>
          <option *ngFor="let ugroup of usergroupData; let i=index;">{{ugroup}}</option>
         </select>
        <label>User Group</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6 l6 xl6">
        <input type="checkbox" class="filled-in" id="chkactivate" />
        <label for="chkactivate">Active</label>
      </div>
    </div>
  </form>
</div>