<div class="">
  <form class="col s12 l9 xl10 offset-l3 offset-xl2">
    <p>Shift Group</p>
    <div class="row">
      <a class="btn  light-blue darken-4"><i class="material-icons">save</i></a>
      <!-- <a class="btn red darken-4"><i class="material-icons">delete</i></a> -->
      <a class="btn grey darken-1"><i class="material-icons">cancel</i></a>
    </div>
    <div class="row">
      <div class="nav-wrapper teal darken-1">
        <form>
          <div class="input-field ">
            <input id="search" name="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">search</i>
          </div>

        </form>
      </div>
      <!-- <div class="input-field col s7 m9 l10 xl10">
        <label for="user_search">Search</label>
        <input id="user_search" type="text" class="validate">
      </div>
      <div class="input-field col s2 m2 l2 xl2">
        <a class="waves-effect waves-light btn" align="center">Search</a>
      </div> -->
    </div>

    <div class="row">
      <table class="highlight">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th class="center">Active</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><input id="shift_group" type="text" class="validate"></td>
            <td class="center"> <input type="checkbox" class="filled-in" id="filled-in-box1" />
              <label for="filled-in-box1"></label></td>
          </tr>
          <tr>
            <td>2</td>
            <td><input id="shift_group" type="text" class="validate"></td>
            <td class="center"> <input type="checkbox" class="filled-in" id="filled-in-box2" />
              <label for="filled-in-box2"></label></td>
          </tr>
          <tr>
            <td>3</td>
            <td><input id="shift_group" type="text" class="validate"></td>
            <td class="center"> <input type="checkbox" class="filled-in" id="filled-in-box3" />
              <label for="filled-in-box3"></label></td>
          </tr>
        </tbody>
      </table>
    </div>

    <ul class="pagination tcenter">
      <li class="waves-effect" *ngFor="let p of paging;let i = index;" [ngClass]="{'active':i==numPage}" (click)="gotoPage(i);"><a>{{p}}</a></li>
    </ul>

    <!-- <div class="fixed-action-btn">
      <a class="btn-floating btn right green darken-4" (click)="onAddbtnClick()"><i class="material-icons">add</i></a>
    </div> -->
  </form>
</div>